/* Center the table on the screen */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* 100% of the viewport height */
    margin: 0;  /* Remove default margin */
    background-image: url("static/images/DALL·E 2023-10-23 17.36.07 - Background.png");
    background-size: cover;  /* Cover the entire viewport */
    background-repeat: no-repeat;  /* Do not repeat the image */
    background-position: center;  /* Center the image */
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);  /* Black with 50% transparency */
    z-index: -1;  /* Place it below the content */
}

table {
    border-collapse: collapse;
    border-spacing: 0;  /* Ensures there are no gaps */
}

td {
    width: 20px;
    height: 20px;
    border: 2px solid rgba(51, 51, 51, 0.7);
    color: white;
    text-align: center;
    vertical-align: middle;
    margin: 0; /* Removes any default margin */
    padding: 0; /* Removes any default padding */
}

.light-gray {
    background-color: rgba(128, 128, 128, 0.7);
}

.medium-gray {
    background-color: darkgray;
}

.flag-mine {
    background: url("static/images/DALL_E_2023-10-23_23.47.57_ - Flag.png") center / cover no-repeat, darkgray;
}

.flag-wrong {
    background: url("static/images/DALL_E_2023-10-23_23.47.57_ - Flag.png") center / cover no-repeat, red;
}

.mine {
    background: url("static/images/DALL_E_2023-10-23_23.59.52 - Mine.png") center / cover no-repeat, darkgray;
}

.explode {
    background: url("static/images/DALL_E_2023-10-23_23.59.52 - Mine.png") center / cover no-repeat, yellow;
}

.dark-gray {
    background-color: darkgray;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.modal-content {
    position: relative;
    margin: 15% auto;
    padding: 20px;
    width: 25%;
    background-color: #fff;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}
