body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* <a href="https://www.freepik.com/free-photo/ultra-detailed-nebula-abstract-wallpaper-4_39994508.htm#query=space&position=4&from_view=keyword&track=sph">Image by Vaynakh</a> on Freepik*/
    background-image: url("static/images/Background.jpg"); /* Set the background image */
    background-size: cover; /* Cover the entire viewport */
}

canvas {
    display: block;
}

#score-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    color: white;
    display: flex; /* Use flex display to make the elements inline */
    align-items: center; /* Center vertically within the container */
}

#scoreboard {
    font-size: 36px;
    margin-right: 20px; /* Add spacing between the elements */
    /* Add any other necessary styles */
}

#shield {
    font-size: 36px;
    /* Add any other necessary styles */
}

.instructions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    text-align: center;
}

.instructions a {
    text-decoration: none;
    color: #ccc; /* Default color for references */
}

.instructions a:hover {
    color: #999; /* Color on hover for references */
}

.instructions .start-button {
    font-weight: bold;
    background: linear-gradient(45deg, #f06, #f90, #f60, #0f6, #06f, #90f, #f06);
    background-size: 600% 600%;
    color: transparent;
    -webkit-background-clip: text;
    animation: rainbowEffect 6s linear infinite;
}

@keyframes rainbowEffect {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}


.instructions p {
    font-size: 18px; /* Font size for regular instruction paragraphs */
}

.instructions .reference {
    color: #999999;
    font-size: 10px; /* Font size for reference paragraphs */
    margin-top: 5px; /* Add some spacing between reference paragraphs */
}

/* Define a keyframes animation for rainbow color */
@keyframes rainbow {
    0% {
        color: red;
    }
    14% {
        color: orange;
    }
    28% {
        color: yellow;
    }
    42% {
        color: green;
    }
    57% {
        color: blue;
    }
    71% {
        color: indigo;
    }
    85% {
        color: violet;
    }
    100% {
        color: red;
    }
}

/* Apply the rainbow animation to elements with class "keyboard" */
.keyboard {
    animation: rainbow 6s linear infinite;
}

/* CSS for Upgrade Buttons */
.upgrade {
    font-size: 24px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.upgrade-label {
    flex: 2; /* Adjust the width as needed */
    margin-right: 10px;
    text-align: right;
}

.upgrade-progress {
    flex: 3; /* Adjust the width as needed */
    display: flex;
    align-items: center;
}

.progress-bar {
    flex-grow: 1;
    height: 24px;
    width: 300px;
    background-color: #ccc;
    border-radius: 5px;
    position: relative;
}

.progress {
    height: 100%;
    width: 30px;
    background-color: #4CAF50;
    border-radius: 5px;
}

.upgrade-button {
    margin-left: 10px;
    padding: 0 10px;
    height: 24px;
    flex: 1;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upgrade-cost {
    width: 125px;
    margin-left: 10px;
}
